body {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:white
}

.navbar {
    background-color: white;
    padding:20px;
    width: 100vw;
}
.container {
    display: flex;
    place-content: space-between;
    width: 1300px;
}

.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    padding: 10px;
}

.current {
    font-weight: bold;
}

.hero {
    width: 100vw;
    padding:20px;
}

.group {
    display: flex;
    margin-left: 40px;
    float: left;
    flex-direction: column;
}

#myheader {
    font-size: 4em;
}

.order {
    float:none;
    padding: 0;
}